#sidebar-1 {
    color: rgb(26, 173, 223);
}

#sidebar-main-1 {
    color:gray
}

.light-green {
  background-color:lightgreen;
}
.light-blue {
  background-color: lightblue;
}

.light-red {
  background-color: rgb(255, 200, 200);
  width: auto;
}

.light-coral {
  background-color: lightcoral;
}

.light-gray {
  background-color: rgb(253, 248, 248);
  width: auto;
}

.light-purple {
  background-color: rgb(241, 127, 241);
}

#top-section {
  padding: 0px 0px;
  text-align: center;
}

#Links-1 {
  float: left;
}

#Links-2 {
  float: right;
}

#Todays-featured-image {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  display: block;
}

h9 {
  font-weight: bold
}