#sidebar-1 {
    color: rgb(26, 173, 223);
}

#sidebar-main-1 {
    color:gray
}

.light-green {
  background-color:lightgreen;
}
.light-blue {
  background-color: lightblue;
}

.light-red {
  background-color: lightcoral;
  width: auto;
}

.light-gray {
  background-color: rgb(253, 248, 248);
  width: auto;
}

#top-section {
  padding: 0px 0px;
  text-align: center;
}