#sidebar-1 {
    color: rgb(26, 173, 223)
}

#sidebar-main-1 {
    color:gray
}

#sidebar-2 {
    color: rgb(26, 173, 223)
}

#sidebar-3 {
  color: rgb(26, 173, 223)
}

#sidebar-4 {
  color: rgb(26, 173, 223)
}

#sidebar-main-2 {
  color:gray
}

#sidebar-main-3 {
  color:gray
}

#sidebar-main-4 {
  color:gray
}